
@border-color: #e4e4e4;

.description-modal {
  // pass
}

.description-modal__backdrop {
  background-color: transparent;
  opacity: .5;
}

.description-modal__content {
  min-width: 400px;
}

.description-modal__header {
  border-bottom: solid 1px @border-color;
}

.description-modal__footer {
  border-top: solid 1px @border-color;
  text-align: right;
}

.description-modal__button {
  border: solid 1px rgba(black, .1);
  background: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px -2px rgba(black, .25);
  margin: 4px;
  padding: 6px 12px;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-out 0s;

  &:disabled {
    box-shadow: 0 0 5px -2px rgba(black, .25);
    cursor: not-allowed;
  }
}

.description-modal__textarea {
  resize: vertical;
  padding: 8px 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
}
