
.last-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.last-screen__content {
  font-family: Roboto;
  font-weight: 200;
  display: inline-block;
  font-size: 48px;
}