
@keyframes loader__animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@loader-size: 140px;

.loader {
  display: block;
  border-radius: 50%;
  width: @loader-size;
  height: @loader-size;
  line-height: @loader-size;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    @width: 1px;
    content: "";
    border: solid @width transparent;
    border-top-color: currentColor;
    border-radius: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    animation: loader__animation 5s linear 0s infinite;
  }

}

.loader__content {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 200;
  line-height: normal;
}