@import "../../../assets/styles/vars";

.post-controls {
  text-align: right;
}

.post-controls_resolved {
  text-align: left;
  display: flex;
  align-items: center;
}

.post-controls__button {
  background: white;
  border-radius: 3px;
  line-height: 28px;
  padding: 0 12px;
  color: #333;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
  margin: 8px;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.post-controls__button_approve {
  border: solid 1px #28a907;
}

.post-controls__button_decline {
  border: solid 1px #ff1a06;
}

.post-controls__button_escalate {
  border: solid 1px #2e51ff;
}
