@import "../../../assets/styles/vars";

.post-controls_resolved__modal__backdrop {
  background-color: transparent;
  opacity: .5;
}

.post-controls_resolved__modal__content {
  min-width: 250px;
}

.post-controls_resolved__modal__body {
  padding: 0 16px;
}

.post-controls__action-description {
  white-space: nowrap;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.post-controls__action-description__sub {
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-controls__action-description__title {
  font-weight: bold;
  text-decoration: underline;
  margin-right: 10px;
}

.post-controls__action-description__show-more-button {
  background: white;
}

.post-controls__action-info-container {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.post-controls__action-info {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  margin: -16px 16px 3px 0;
  padding: 32px 16px 8px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  border-radius: 3px;
}

.post-controls__action-info__change-button {
  background-color: white;
}

.post-controls__action-info_approved {
  background: @color-green;
  color: white;
}

.post-controls__action-info_declined {
  background: @color-red;
}

.post-controls__action-info_escalated {
  background: @color-blue;
  color: white;
}
