@import "../../../assets/styles/vars";

@item-height: 32px;
@icon-size: 24px;

.nav-panel {
  text-align: right;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.nav-panel__item {
  padding: 0;
  background: transparent;
  display: inline-block;
  border: solid 1px #e4e4e4;
  line-height: @item-height;
  height: @item-height;
  min-width: @item-height;
  border-radius: @item-height;
  margin: 8px;
  white-space: nowrap;
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  max-width: @item-height;
  transition: all 200ms ease-out 0s;
  box-sizing: border-box;
  overflow: visible;
  box-shadow: /*0 2px 5px 0 rgba(black, .25), */inset 0 2px 5px rgba(black, .25);
  outline: none !important;
  position: relative;

  &:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
    border-color: @color-gray;
  }
}

.nav-panel__item_active,
.nav-panel__item:hover {
  max-width: 400px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(black, .25);
}

.nav-panel__item_active {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border: solid 6px transparent;
    border-bottom-color: white;
    bottom: 100%;
    left: 50%;
    margin-left: -3px;
  }
}

.nav-panel__item__content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 12px;
}

.nav-panel__icon {
  line-height: @item-height;
  display: inline-block;
  width: @icon-size;
  height: @icon-size;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  margin: ((@item-height - @icon-size) / 2 - 1);
  vertical-align: top;
  position: relative;
}

.nav-panel__icon_unchecked {
  background-image: url("../../../assets/images/unchecked.svg");
  background-size: 16px;
}

.nav-panel__icon_approved {
  background-image: url("../../../assets/images/ok.svg");
  background-size: 16px;
}

.nav-panel__icon_declined {
  background-image: url("../../../assets/images/cross.svg");
  background-size: 14px;
}

.nav-panel__icon_escalated {
  background-image: url("../../../assets/images/arrow-up.svg");
  background-size: 14px;
}

.nav-panel__icon_next {
  background-image: url("../../../assets/images/arrow-right.svg");
}

.nav-panel__title {
  // pass
}

.nav-panel__item__hot-key-title {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 100%;
  font-size: 9px;
  line-height: 11px;
  margin-top: 3px;

  .nav-panel__item:disabled & {
    display: none;
  }
}