@import "../../../assets/styles/vars";

@default-text-color: #4a4a4a;
@blue-text-color: #1764cc;
@border-color: #e4e4e4;

@attachments-width: 372px;

@attachment-image-max-width: 190px;
@attachment-image-max-height: 210px;


.post-item {
  background: white;
  border: solid 1px @border-color;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(black, .25);
  width: @post-width;
  font-family: Arial, Tahoma, SansSerif;
  color: @default-text-color;
  position: relative;
  margin: 0 auto;
}

.post-item__header {
  border-bottom: solid 1px @border-color;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    clear: both;
    order: 1;
  }
}

.post-item__header__left-container {
  float: left;
  order: 0;
}

.post-item__header__right-container {
  float: right;
  order: 2;
}

.post-item__post-info {
  font-size: 14px;
  margin: 12px 13px;
}

.post-item__post-info__id {
  color: @blue-text-color;
}

.post-item__author {
  display: inline-block;
  color: @blue-text-color;
  font-size: 16px;
  margin: 13px 20px 11px;
  line-height: 17px;
  vertical-align: middle;
  text-decoration: none;
}

.post-item__author__icon {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-right: 8px;
}

.post-item__body {
  padding: 22px 16px 37px;
}

.post-item__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;

  &::after {
    content: "";
    clear: both;
  }
}

.post-item__title {
  font-size: 24px;
  margin-bottom: 16px;
}

.post-item__text {
  font-size: 13px;
  white-space: pre-wrap;
  margin-right: @attachments-width;
  padding-right: 14px;
  border-right: solid 1px @border-color;
  flex: 1;
}

.post-item__attachments {
  border-left: solid 1px @border-color;
  min-width: @attachments-width;
  float: right;
  min-height: 100%;
  margin-left: (-@attachments-width - 1px);
  padding: 0 8px;
}

.post-item__empty-row {
  display: none;
  font-size: 13px;
  margin: 8px;
  color: #a0a0a0;

  &:last-child {
    display: block;
  }
}

.post-item__attachment-item {
  padding: 8px 16px;
  text-align: left;
}

.post-item__attachment-item__image-container {
  display: inline-block;
  text-align: center;
  width: @attachment-image-max-width;
}

.post-item__attachment-item__image {
  max-width: @attachment-image-max-width;
  max-height: @attachment-image-max-height;
}
