@import "../../../assets/styles/vars";
@import "../Loader/Loader";

.moderate-screen {
  display: block;
  min-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.moderate-screen__content {
  flex: 1;
  display: flex;
  overflow: auto;
  position: relative;
  z-index: 1;
  padding-bottom: 72px;
}

.moderate-screen__content__sub {
  position: relative;
  margin: 0 auto;
}

.moderate-screen__post-controls {
  position: relative;
  padding: 8px 16px;
}

.moderate-screen__post-controls__container {
  position: relative;
  margin: 0 auto;
  max-width: @post-width;
}

.moderate-screen__back-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.moderate-screen__navigation-panel {
  padding: 8px 16px;
  box-shadow: 0 -2px 5px rgba(black, .25);
  position: relative;
  z-index: 1;
}

.moderate-screen__posts {
  display: inline-block;
  width: max-content;
  min-width: 100%;
  flex: 1;
  padding: 0 8px 32px;
}

.loader-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.loader-container__back {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .8;
  z-index: 98;
}

.loader-container__container {
  position: relative;
  z-index: 100;
}

.moderate-screen__error {
  color: @color-red-dark;
  font-family: Roboto;
  font-weight: 200;
  text-align: center;
}

.moderate-screen__error__logo {
  display: inline-block;
  width: @loader-size;
  height: @loader-size;
  line-height: (@loader-size - 2);
  border: solid 1px currentColor;
  border-radius: 50%;
  font-size: 28px;

  display: inline-flex;;
  align-items: center;
  justify-content: center;
}

.moderate-screen__error__button {
  background: white;
}