
.button {
  border: solid 1px rgba(black, .1);
  background: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px -2px rgba(black, .25);
  margin: 4px;
  padding: 6px 12px;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-out 0s;
  font-family: Roboto, Arial, Tahoma, SansSerif;

  &:disabled {
    box-shadow: 0 0 5px -2px rgba(black, .25);
    cursor: not-allowed;
  }
}