@import "./vars";

.user-icon {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url("../images/user.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container_red {
  color: @color-red;
}

.icon-container_blue {
  color: @color-blue;
}

.icon-container_black {
  color: @color-black;
}

.icon-container_green {
  color: @color-green;
}

.icon-container_gray {
  color: @color-gray;
}


.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
}

.icon_approved {
  background: url("../images/ok.svg");
}

.icon_declined {
  background: url("../images/cross.svg");
}

.icon_escalate {
  background: url("../images/arrow-up.svg");
}

.icon_default {
  background: url("../images/unchecked.svg");
}