
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.modal__backdrop:extend(.modal) {
  z-index: 100;
  cursor: pointer;
}

.modal__backdrop_dark {
  background: rgba(black, .5);
}

.modal__container:extend(.modal) {
  overflow: auto;
  padding: 64px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: 101;
  touch-action: none;
}

.modal__content {
  background: white;
  border-radius: 3px;
  overflow: hidden;
  font-family: Roboto;
  font-size: 18px;
  box-shadow: 0 6px 10px 0 rgba(black, .25);
  position: relative;
  margin: 0 auto;
  display: inline-block;
  z-index: 101;
}

.modal__header {
  font-size: 16px;
  font-weight: 600;
  padding: 6px 12px;
}

.modal__header__close-button {
  @size: 20px;
  border: none;
  background: none;
  outline: none;
  display: block;
  width: @size;
  height: @size;
  line-height: @size;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;


  &::before {
    content: "⨯";
    font-size: 20px;
    font-family: monospace;
  }
}

.modal__body {

}

.modal__footer {
  font-size: 16px;
  font-weight: 600;
  padding: 6px 12px;
}