@import "../../../assets/styles/vars";

.enter-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-info {
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.enter-info__logo {
  // Container
  display: block;
  width: 164px;
  height: 164px;
  border: solid 1px currentColor;
  box-shadow: 0 4px 4px rgba(black, .25), inset 0 4px 4px rgba(black, .25);
  border-radius: 50%;
  cursor: pointer;

  // Text
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  text-shadow: 0 4px 4px rgba(black, .25);
  color: white;
  // ... if flexbox is not available
  display: inline-block;

  // Text placement rules
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.enter-info__logo_error {
  color: @color-red-dark;
}

.enter-info__logo__text {
  // ... if flexbox is unavailable
  text-align: center;
  line-height: 164px;
  vertical-align: middle;
}

.enter-info__helper {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #111;

  margin-top: 30px;
}

.enter-info__helper_error {
  color: @color-red-dark;
}