
.app-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
}

.app-background__content {
    position: relative;
  min-height: 100%;
  display: flex;
  flex: 1;
  max-width: 100%;
  flex-direction: column
}